# Ide
*.DS_Store
.idea


# Logs
logs
*.log
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Dependency directories
node_modules

# Build
dist
*.vsix
.vscode-test-web

# Wa Result
wat2wasm
a.out.wat
examples/**/output/*.wat
examples/**/output/*.wasm